/** MOBILE PORTRATE STYLES **/
body{
	width:100%;
	height:100%;
	font-size:16px;
	webkit-text-size-adjust:100%;
	font-family:Helvetica, Arial, Sans-Serif;
	color:rgba(0,100,100,1);
	background-color:rgba(224,255,255,1);}
body, div, aside, header, section, article, footer, nav, ul, ol, img, svg, video, audio, form, fieldset, input, select, textarea, button, figure, h1, h2, h3, h4, h5, a, p{
	box-sizing:border-box;
	margin:0;
	padding:0;
	border:none;}
h1, h2, h3, h4, h5{}
a{
	color:inherit;
	text-decoration:none;}
ul{
	list-style:none;}
img{
	max-width:100%;}
input, select, textarea{
    -webkit-appearance: none;
	outline:none;}
textarea{
	font-size:1em;
	color:inherit;
	display:block;
	width:100%;
	max-width:100%;
	padding:0 2%;
	overflow:auto;
	border:none;}

input[type=checkbox]{
    -webkit-appearance:button;
	cursor:pointer;
    border-radius:1em !important;
    white-space: nowrap !important;
    width:.5em !important;
	height:.5em !important;
	margin:0 2% !important;
    padding:.5em !important;
    font-weight:300 !important;
    border:.1em solid rgba(0,0,0,.25) !important;}
input[type=checkbox]:checked {
    background-color:rgba(0,139,139,1) !important;
	border-color:rgba(0,139,139,1) !important;}
input[type=checkbox]::after{
	position:relative;
	display:block;
	padding: 0 1em;
	margin-top:-.6em;
	color:rgba(0,0,0,0.25);
	content:'I do not offer private sessions';}
input[type=checkbox]:checked::after{
	color:rgba(0,100,100,1);
	content:'I do offer private sessions';}
input[type=checkbox]:hover {
	border-color:rgba(72,209,204,1) !important;}
input[type=checkbox]:checked:hover {
	border-color:rgba(0,139,139,1) !important;}

.no-border-bottom{
	border-bottom:none !important;}

/* Global Header */
.global-header{
	z-index:3;
	position:fixed;
	width:100%;
	height:3em;
	color:rgba(255,255,255,1);
	background-color:rgba(72,209,204,1);
	border-bottom:.05em solid rgba(224,255,255,1);}
.gh-logo{
	display:inline;
	height:2em;}
.gh-logo svg, .gh-logo img{
	float:left;
	height:2.95em;
	padding:.5em 2%;
	fill:rgba(255,255,255,1);
	transition:.3s ease all;}
.gh-logo svg:hover, .gh-logo img:hover{
	fill:rgba(224,255,255,1);}
.gh-logo-open svg, .gh-logo-open img{
	transform:rotate(225deg);
	fill:rgba(0,0,0,0.5);}
.gh-logo-open:hover svg, .gh-logo-open:hover img{
	fill:rgba(0,0,0,0.5);}
.gh-logo h1{
	float:left;
	padding:.69em 2%;
	font-size:20px;
	color:rgba(255,255,255,1);
	line-height:1;
	border-left:.05em solid rgba(224,255,255,1);
	transition:.3s ease all;}
.gh-nav{
	overflow:hidden;
	display:block;
	position:fixed;
	top:3em;
	left:0;
	width:100%;
	height:0;
	transition:.3s ease height;
	background-color:inherit;}
.gh-nav-open{
	height:16.5em;
	border-bottom:.05em solid rgba(224,255,255,1);}
.gh-nav ul li{
	width:100%;
	border-bottom:.05em solid rgba(224,255,255,1);}
.gh-nav ul li:last-child{
	border-bottom:none;}
.gh-nav ul li a{
	display:inline-block;
	width:100%;
	padding:1em 2% 1em 2%;
	font-size:1.25em;
	font-weight:500;}

/* LOGIN POPOVER */
.gh-nav-login-popover{
	position:fixed;
	overflow:hidden;
	top:3em;
	right:0em;
	width:100%;
	height:0;
	background:rgba(0,0,0,0.85);
	opacity:0;
	transition:.5s ease opacity;}
.gh-nav-login-popover-open{
	height:calc(100% - 3em);
	opacity:1;}
.gh-nav-login-popover form{
	overflow:hidden;
	width:25em;
	max-width:96%;
	margin: 5em auto 0;
	border-radius:.5em;
	background-color:rgba(72,209,204,1);}
.gh-nav-login-popover form fieldset{
	max-width:100%;}
.gh-nav-login-popover form h2{
	width:100%;
	margin:0 auto .5em;
	padding:.5em 4%;
	font-size:2em;
	line-height:.95;
	color:rgba(255,255,255,1);
	border-bottom:.025em solid rgba(224,255,255,1);}
.gh-nav-login-popover form input[type=email], .gh-nav-login-popover form input[type=password]{
	display:block;
	width:12em;
	padding:.3em 1em;
	margin:0 auto .5em;
	color:rgba(255,255,255,1);
	font-size:1.25em;
	line-height:1;
	text-align:center;
	border:.025em solid rgba(224,255,255,1);
	border-radius:1.5em;
	background-color:inherit;
	transition:.3s ease all;}
.gh-nav-login-popover form input[type=email]:hover, .gh-nav-login-popover form input[type=password]:hover{
	color:rgba(255,255,255,1);
	border-color:rgba(255,255,255,1);}
.gh-nav-login-popover form input[type=email]::placeholder, .gh-nav-login-popover form input[type=password]::placeholder{
	color:rgba(224,255,255,1);
	transition:.3s ease color;}
.gh-nav-login-popover form input[type=email]:hover::placeholder, .gh-nav-login-popover form input[type=password]:hover::placeholder{
	color:rgba(255,255,255,1);}
.gh-nav-login-popover form input[type=email]:active::placeholder, .gh-nav-login-popover form input[type=password]:active::placeholder, .gh-nav-login-popover form input[type=email]:focus::placeholder, .gh-nav-login-popover form input[type=password]:focus::placeholder{
	color:rgba(255,255,255,0);}
.gh-nav-login-popover form input[type=submit]{
	width:100%;
	margin:.25em auto 0;
	padding:.5em 2%;
	font-size:1.5em;
	color:rgba(72,209,204,1);
	background-color:rgba(224,255,255,1);
	transition:.3s ease background-color;}
.gh-nav-login-popover form input[type=submit]:hover, .gh-nav-login-popover form input[type=submit]:active, .gh-nav-login-popover form input[type=submit]:focus{
	cursor:pointer;
	background-color:rgba(255,255,255,1);}
.gh-nav-login-popover-dismiss{
	position:relative;
	float:right;
	padding:.5em;}
.gh-nav-login-popover-dismiss svg{
	width:2em;
	stroke:rgba(0,139,139,1);
	fill:transparent;
	stroke-linecap:round;
	stroke-width:4;
	transition:.3s ease stroke;}
.gh-nav-login-popover-dismiss:hover svg{
	stroke:rgba(224,255,255,1);}


/* Main Content */
.main-content-wrapper{
	overflow:hidden;
	width:100%;
	padding-top:3em;}

/* THERAPIST REGISTRATION */
.tr-container{
	display:block;
	max-width:100%;
	width:30em;
	margin:1em auto;}
.tr-container h2{
	padding:0 2% .5em;
	font-size:2em;}
.tr-container h3{
	padding:.25em 2%;
	color:rgba(224,255,255,1);
	background-color:rgba(72,209,204,1);}
.tr-container fieldset{
	box-sizing:border-box;
	overflow:hidden;
	float:left;
	width:96%;
	max-width:30em;
	margin:0 2% 1em;
	border:.05em solid rgba(72,209,204,1);
	border-radius:.5em;}
.tr-container input, .tr-container label{
	box-sizing:border-box;
	display:inline;
	float:left;
	margin:0;
	color:rgba(72,209,204,1);
	font-weight:300;
	border:.03em solid rgba(72,209,204,1);
	background-color:inherit;
	transition:.3s ease all;}
.tr-container input[type=checkbox]{
	margin-top:.85em !important;
	color:rgba(72,209,204,1) !important;
	border-color:rgba(72,209,204,1) !important;}
.tr-container input[type=checkbox]:checked{
	border-color:rgba(0,139,139,1) !important;}
.tr-container input[type=checkbox]::after{
	color:rgba(72,209,204,1) !important;}
.tr-container input{
	font-size:1em;
	width:75%;
	height:3em;
	padding:.75em 2%;
	color:rgba(0,139,139,1);
	font-weight:500;
	border-top:none;
	border-right:none;
	border-left:none;
	border-radius:0;}
.tr-container input:last-child{
	border-bottom:none;}
.tr-container input::placeholder{
	color:rgba(72,209,204,1);
	font-weight:300;}
.tr-container label{
	width:25%;
	height:4em;
	padding:1.325em 2% .975em;
	font-size:.75em;
	text-align:right;
	font-weight:500;
	border-top:none;
	border-left:none;}
.tr-btn{
    display: block;
    cursor: pointer;
    max-width:96%;
    width:22.5em;
    min-width:35%;
    height: 2em;
    margin: 2em auto;
    font-size: 1.5em;
    color: rgba(224,255,255,1);
    border: none;
    border-radius: .375em;
    background-color: rgba(72,209,204,1);
    transition: .3s ease all;}
.tr-btn:hover{
	color:rgba(255,255,255,1);
	background-color:rgba(0,139,139,1);}

/** FIND A MUSIC THERAPIST LANDING PAGE **/
.famt-container{
	padding:10% 0;
	background-color:rgba(72,209,204,1);}
.famt-container form{
	display:block;
	overflow:hidden;
	width:96%;
	max-width:25em;
	margin:0 auto;
	color:rgba(255,255,255,1);
	border:.05em solid rgba(224,255,255,1);
	border-radius:.5em;}
.famt-container form h2{
	padding:.5em 4% .25em;
	font-size:2em;
	line-height:.95;
	transition:.3s ease color;}
.famt-container form p{
	padding:0 4% 1.75em;
	font-size:.8em;}
.famt-container form input[type=text]{
	display:block;
	width:6em;
	margin:.25em auto 1em;
	padding:.125em .5em .125em .75em;
	color:rgba(255,255,255,1);
	font-size:2em;
	text-align:center;
	letter-spacing:.25em;
	border:.03em solid rgba(224,255,255,1);
	border-radius:1.5em;
	background-color:inherit;
	transition:.3s ease all;}
.famt-container form input[type=text]:hover{
	border:.03em solid rgba(255,255,255,1);}
.famt-container form input[type=text]:active, .famt-container input[type=text]:focus{
	border-color:rgba(255,255,255,1);}
.famt-container form input[type=text]:last-child{
	color:red;}
.famt-container form input[type=text]::placeholder{
	color:rgba(224,255,255,.85);
	font-size:.75em;
	letter-spacing:0;
	line-height:1.625;
	transition:.3s ease color;}
.famt-container form input[type=text]:hover::placeholder{
	color:rgba(255,255,255,1);}
.famt-container form input[type=text]:active::placeholder, .famt-container input[type=text]:focus::placeholder, .famt-container form input[type=text]:active:hover::placeholder, .famt-container input[type=text]:focus:hover::placeholder{
	color:rgba(255,255,255,0);}
.famt-container form input[type=submit]{
	display:block;
	cursor:pointer;
	width:100%;
	margin:.5em auto 0;
	padding:.25em;
	font-size:1.75em;
	font-weight:300;
	text-align:center;
	color:rgba(72,209,204,1);
	border:none;
	border-radius:0;
	outline:none;
	background-color:rgba(224,255,255,1);
	transition:.3s ease background-color;}
.famt-container form:hover input[type=submit], .famt-container form input[type=submit]:hover, .famt-container input[type=submit]:active, .famt-container input[type=submit]:focus{
	background-color:rgba(255,255,255,1);}

/** ABOUT **/
.about-container{
	display:block;
	padding:10% 2%;
	background-image:url('img/audio-background.gif');
	background-position:center center;
	background-size:cover;
	background-color:rgba(72,209,204,1);
	border-bottom:.05em solid rgba(255,255,255,1);}
.about-container header, .about-container div{
	max-width:60em;
	margin: 0 auto;}
.about-container header h2{
	color:rgba(255,255,255,1);
	font-size:2.5em;
	line-height:.95em;}
.about-container header h2 span{
	font-size:.75em;
	font-weight:300;}
.about-container div{
	margin:1em auto 0;
	border-top:.05em solid rgba(255,255,255,1);}
.about-container div h3{
	padding:.75em 0 .5em;
	font-size:1.5em;
	line-height:.95em;}
.about-container div p{
	font-size:1.5em;}
.about-associations-container{
	padding:4% 2%;
	background:rgba(72,209,204,1);
	text-align:center;}
.about-associations-container h2{
	max-width:33.5em;
	margin:0 auto;
	color:rgba(255,255,255,1);
	text-align:left;}
.about-associations-container p{
	max-width:40em;
	margin:0 auto 1.5em;
	color:rgba(255,255,255,1);
	font-size:1.25em;
	font-weight:300;
	text-align:left;}
.about-associations-container img{
	display:inline;
	width:33%;
	max-width:15em;}

/** HEALING POWER OF MUSIC **/
.hpow-container{
	padding:10% 2%;
	color:rgba(255,255,255,1);
	background-color:rgba(72,209,204,1);}
.hpow-container div{
	max-width:50em;
	margin:0 auto;);}
.hpow-container div header{
	display:block;
	width:100%;
	padding:0;}
.hpow-container div header p{
	font-size:1.25em;
	font-weight:300;}
.hpow-container div img, .hpow-container svg{
	display:block;
	width:70%;
	max-width:10.5em;
	margin:0 auto 8%;
	padding:0;}

/** FEATURED THEROPISTS **/
.featt-container{
	padding:3em 2%;}
.featt-container h2{
	display:block;
	width:30em;
	max-width:100%;
	margin:0 auto .5em auto;
	font-size:2em;
	line-height:.95em;}
.featured-therapist{
	display:block;
	width:100%;
	height:5em;
	max-width:60em;
	margin:0 auto 1em;
	padding:1.25em;
	background-color:rgba(255,255,255,1);
	border-radius:.25em;
	box-shadow:0 0 .25em rgba(0,0,0,0.25);
	transition:.3s ease box-shadow;}
.featured-therapist:hover{
	box-shadow:0 0 .5em rgba(0,0,0,0.25);}
.featured-therapist .headshot{
	display:inline-block;
	float:left;
	width:4em;
	height:4em;
	margin:-.75em 2% 0 -.5em;}

/** FIND A MUSIC THERAPIST SEARCH PAGE **/
.sfamt-container{
	width: 100%;
	padding:.5em 2% 0;
	background:rgba(72,209,204,1);
	color:rgba(224,255,255,1);
	text-align:center;}
.sfamt-container p{
	margin:0 auto 1em;
	padding:0 2% .5em;
    font-size:.8em;
    color:rgba(224,255,255,1);
    border-bottom:.05em solid rgba(224,255,255,1);}
.sfamt-container input[type=text], .sfamt-container .sfamt-btn, .sfamt-container select{
	display:inline;
	margin: 0 .125em .5em;
	color:rgba(255,255,255,1);
	font-size:1.25em;
	line-height:1;
	text-align:center;
	border:.05em solid rgba(224,255,255,1);
	border-radius:1.5em;
	background-color:inherit;
	transition:.3s ease all;}
.sfamt-container input[type=text]{
	width: 7.5em;
	padding:.3em 1em;
	letter-spacing:.25em;}
.sfamt-container select{
	cursor:pointer;
	width:auto;
	padding:.375em 1em;}
.sfamt-btn{
	padding:.3em .375em;}
.sfamt-container input[type=text]:hover, .sfamt-container input[type=text]:active, .sfamt-container input[type=text]:focus{
	border-color:rgba(255,255,255,1);}
.sfamt-btn svg{
	width:1em;
	fill:white;
	transition:.3s ease fill;}
.sfamt-btn:hover svg{
	fill:rgba(72,209,204,1);}
.sfamt-container .sfamt-btn:hover, .sfamt-container .sfamt-btn:active, .sfamt-container .sfamt-btn:focus{
	cursor:pointer;
	color:green;
	background-color:rgba(255,255,255,1);}
.sfamt-container input[type=text]::placeholder{
	color:rgba(255,255,255,.75);
	font-size:.75em;
	line-height:1.5;
	letter-spacing:0;
	text-align:center;
	transition:.3s ease color;}
.sfamt-container input[type=text]:hover::placeholder{
	color:rgba(255,255,255,1);}
.sfamt-container input[type=text]:active::placeholder, .sfamt-container input[type=text]:focus::placeholder{
	color:rgba(255,255,255,0);}
.sfamt-map{
	position:absolute;
	display:block;
	width:100%;
	height: calc(100% - 8.75em);
	background-image:url('img/audio-background.gif');
	background-position:center center;
	background-size:cover;
	background-color:rgba(72,209,204,1);}
.sfamtr-container{
	display:block;
	width:96%;
	max-width:60em;
	margin:0 auto;}
.sfamtr-container h2{
	margin:0 0 .5em;}

.bio-info{
	width:100%;
	padding:1em 0;
	background-color:rgba(255,255,255,1);}
.therapist-bio p{
	max-width:47em;
	margin:0 auto;
	padding:.5em 2%;}
.therapist-bio header h3, .therapist-bio header h4, .therapist-bio header p{
	width:100%;
	max-width:45em;
	margin:.25em auto;
	padding:0 2%;
	color:rgba(0,100,100,1);
	text-align:center;
	background-color:transparent;}
.therapist-bio header h3{
	font-size:2em;}
.therapist-bio header h4{
	width:96%;
	padding:0 2% .5em;
	margin:.25em auto;}
.therapist-bio header p{
	width:96%;
	padding:1em 0 .5em;
	text-align:justify;
	border-top:.05em solid rgba(72,209,204,1);}
.therapist-bio h5{
	max-width:63em;
	margin:1em auto .25em;
	padding:.5em 2%;
	font-size:.75em;
	color:rgba(72,209,204,1);
	text-transform:uppercase;
	letter-spacing:.075em;
	font-weight:500;
	background-color:rgba(0,0,0,0.05);}
.therapist-bio p span{
	display:inline-block;
	width:6em;
	font-size:.75em;
	line-height:2em;
	color:rgba(0,0,0,0.25);
	text-transform:uppercase;
	letter-spacing:.075em;}
.bio-adress-line-2{
	width:6.375em !important;}
.therapist-bio .headshot{
	display:block;
	margin:0 auto;
	width:10em;
	height:10em;}
.bio-map{
	display:inline-block;
	width:100%;
	height:400px;
	margin:0 auto;
	background-image:url('img/audio-background.gif');
	background-position:center center;
	background-size:cover;
	background-color:rgba(72,209,204,1);}
.profile-edit-finish, .profile-edit-cancel{
	display:block;
	width:96%;
	max-width:15em;
	margin:1em auto;
	padding:.5em;
	font-size:1.25em;
	color:rgba(255,255,255,1);
	text-align:center;
	border:.05em solid rgba(255,255,255,1);
	border-radius:.5em;
	background-color:rgba(72,209,204,1);
	transition:.3s ease all;}
.profile-edit-finish:hover, .profile-edit-cancel:hover{
	border:.05em solid rgba(0,139,139,1);
	background-color:rgba(0,139,139,1);}
.headshot-edit{
	background-color:rgba(0,0,0,1);}
.headshot-edit:hover{
	background-image:url('img/placeholder/profile-picture-edit.png');
	background-position:center center;
	background-size:50%;
	background-repeat:no-repeat;}
.headshot-edit:hover img{
	margin-top:200%;}
.therapist-bio input, .therapist-bio label{
	box-sizing:border-box;
	display:block;
	width:100%;
	color:rgba(0,0,0,0.5);
	background-color:inherit;
	transition:.3s ease all;}
.therapist-bio textarea{
	color:rgba(0,0,0,0.5);}
.therapist-bio input::placeholder{
	font-weight:300;
	transition:.3s ease all;}
.therapist-bio input:active::placeholder, .therapist-bio input:focus::placeholder{
	color:rgba(0,0,0,0);}
.therapist-bio input:active, .therapist-bio textarea:active, .therapist-bio input:focus, .therapist-bio textarea:focus{
	color:rgba(0,100,100,1);}
.therapist-bio input{
	height:1em;
	padding:0em 2%;
	font-size:1em;}
.therapist-bio label{
	padding:.5em 2% 0;
	font-size:.75em;
	font-weight:500;
	line-height:2em;
	color:rgba(0,0,0,0.25);
	text-transform:uppercase;
	letter-spacing:.075em;}

.headshot{
	overflow:hidden;
	border-radius:100%;}
.headshot img{
	max-width:125%;
	width:125%;
	margin:-12.5% 0 0 -12.5%;
	transition:.3s ease margin-top;}
/** Footer **/
footer{
	width:100%;
	padding:1em 2% 0;
	font-size:.85em;
	text-align:center;}

/** MOBILE LANDSCAPE STYLES **/
@media (min-width:425px){}
/** SMALL TABLET STYLES **/
@media (min-width:750px){
.global-header{
	border-bottom:none;}
.gh-logo svg, .gh-logo svg{
	cursor:default;
	padding-right:1%;}
.gh-logo svg:hover, .gh-logo img:hover{
	fill:rgba(255,255,255,1);}
.gh-logo-open svg, .gh-logo-open img{
	transform:rotate(0deg);
	fill:rgba(255,255,255,1);}
.gh-logo-open:hover svg, .gh-logo-open:hover img{
	fill:rgba(255,255,255,1);}
.gh-logo h1{
	padding-left:0;
	border-left:none;}
.gh-nav-toggle{
	right:-10em;}
.gh-nav{
	z-index:-1;
	display:inline-block;
	top:0;
	height:auto;
	text-align:right;
	border-bottom:.05em solid rgba(224,255,255,1);
	background-color:none;}
.gh-nav-open{
	height:auto;}
.gh-nav ul li{
	display:inline;
	width:auto;
	border-bottom:none;}
.gh-nav ul li:last-child{
	border-bottom:none;}
.gh-nav ul li a{
	width:auto;
	font-size:1em;
	font-weight:300;
	padding:.925em 1em;
	border-right:.05em solid rgba(224,255,255,1);
	transition:.3s ease all;}
.gh-nav ul li:hover a{
	color:rgba(72,209,204,1);
	background-color:rgba(224,255,255,1);}
.gh-nav ul li:last-child a{
	padding-right:2%;
	border-right:none;}

.famt-container{
	padding:5em 0;
	border-bottom:.05em solid rgba(224,255,255,1);}
.hpow-container{
	padding:5em 2%;}
.hpow-container div header{
	display:inline-block;
	width:70%;
	padding:0 2% 0 0;}
.hpow-container div img, .hpow-container svg{
	display:inline-block;
	float:right;
	width:30%;
	max-width:10.5em;
	padding:0 0 2%;
	margin:0 0;}
}
/** TABLET PORTRATE STYLES **/
@media (min-width:900px){
	/** SEARCH PAGE: Map is shown side by side with results if these styles are enabled
	.sfamt-map{
		display:inline-block;
		float:left;
		width:60%;
		margin: 2% 1% 2% 2%;
		height:500px;}
	.sfamtr-container{
		display:inline-block;
		float:right;
		width:34%;
		height:500px;
		margin:2% 2% 2% 1%;}**/
	.therapist-bio{
		position: absolute;
		width:100%;
		height:calc(100% - 3em);}
	.bio-info{
		display:inline-block;
		width:50%;
		height:100%;
		padding:2em 2%;
		overflow-y:scroll;
		max-width:none;
		margin:0;
		transition:.3s ease width;}
	.bio-map{
		float:right;
		width:50%;
		height:100%;
		margin:0;
		transition:.3s ease width;}
	.profile-edit-finish{
		margin:34% auto .5em;}
}
/** TABLET LANDSCAPE / SMALL LAPTOP STYLES **/
@media (min-width:1100px){
	.bio-info{
		width:33.33%;}
	.bio-map{
		width:66.66%;}
}
/** LAPTOP STYLES **/
@media (min-width:1250px){
	.tr-container{
		width:100%;
		max-width:100%;}
	.tr-container fieldset{
		width:30.675%;
		max-width:none;
		margin:0 0 1em 2%;}
}
/** DESKTOP STYLES **/
@media (min-width:1400px){}
/** LARGEST STYLES **/
@media (min-width:1600px){}
